body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.jumbotron{
    background: url(images/portada.jpg);
    background-size: contain;
    height: 100%;
}
.title{
    color: white;
    background-color: rgb(17, 17, 39, 0.8) ;
    border-radius: 50px;
}